* {
  font-family: 'Trocchi', serif;
  letter-spacing: 2px;
  padding: 0;
  margin-right: 0 !important;
}

body {
  margin: 0px !important;
}

.white {
  color: white;
}

.center {
  text-align: center;
}
/* header */
header {
  padding: 20px 5px 1px 5px;
  background:rgba(12, 12, 12, 0.411);
}

.logo img {
  width: 9%;
  padding-left: 10px;
  padding-bottom: 7px;
}

.color-nav {
  color: #fcfafb;
  font-size: 10px;
}

.color-nav:hover {
  color: rgb(17, 171, 182);
  font-size: 12px;
  font-weight: bold;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
  color: rgb(17, 171, 182);
  background-color:transparent;
  /* background-color: transparent; */
  font-size: 14px;
  font-weight: bolder;
  /* border-bottom: 1px solid white; */
}

.nav-scroll{
  background-color: rgba(26, 25, 25, 0.952);
  transition: all 1s ease;
  padding: 0px 10px;
}

.nav-link {
  padding: 0px;
}

/* inicio */

.inicio {
  background-image: url(../assets/images/cafe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  z-index: 9999;
}

.text {
  position: absolute;
  font-weight: bold;
  bottom: 55%;
  left: 19%;
  z-index: 1;
  font-size: 2.4em;
  color: rgb(61, 149, 155);
  font-family: 'Trocchi', serif;
} 


.sub-text {
  position: absolute;
  font-weight: bold;
  bottom: 28%;
  left: 43%;
  z-index: 1;
  font-size: 16px;
  color: rgb(45, 146, 153);
  font-family: 'Trocchi', serif;
} 

/* Sobre mí */
#sobremi {
  background:linear-gradient(to right, rgb(10, 5, 5) , rgb(117, 208, 224)) !important;
}

.section-mi {
  height: 100vh;
}

.img-marin img {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  margin-left: 20%;
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
  box-sizing: border-box;
}

.biografy {
  font-size: 16px;
  text-align: justify;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.interest {
  padding-top: 10px;
  font-weight: bold;
}

.interest p2 {
  color: rgba(199, 228, 245, 0.993);
  font-size: 24px;
}
.interest>span {
  border-radius: 100%;
  border:rgba(95, 146, 204, 0.993) solid 1px;
  padding: 12px;
  color: rgba(44, 51, 131, 0.705);
  font-size: 21px;
  margin-left: 7px;
  box-shadow: 0 0px 25px 15px rgba(0, 0, 0, 0.158), 5px 5px 2px 0 rgba(0,0,0,.21);

}

/* habilidades */
.card  {
  box-shadow: 0 0px 15px 10px rgba(0, 0, 0, 0.158), 5px 5px 2px 0 rgba(0,0,0,.21);
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 3%
}
.card img {
  width: 20%;
  text-align: center;
}
/* #habilidades {
  height: 100vh;
  background-color: rgb(255, 255, 255);
} */

/* .habilidad img{
  padding: 14px;
  box-sizing: border-box;
} */

/* proyectos */

#proyectos {
  height: 100%;
  background-color: rgba(209, 206, 209, 0.842);
  box-sizing: border-box !important;
}

.portafolio {
  padding: 1.9% ;
  box-sizing: border-box;
}

.div-proyectos {
  padding: 3%;
}

.portafolio img {
  border-radius: 10px;
  height: 30vh;
  width: 90%;
}

/* proyectos hover */
div.inv {
  position:absolute;
  overflow:hidden;
  width: 80%;
  height: 32vh;
  background: radial-gradient(rgba(0, 0, 0, 0.56), rgba(70, 112, 124, 0.952));
  opacity:0;
  transition: opacity 0.3s;
  text-align: center;
  border-radius: 10px;
}


div.portafolio:hover div.inv {
  opacity:1;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

p.title {
  position: absolute;
  font-size: 1.6rem;
  margin-left: -9% auto;
  margin-top: 7%;
  transition: margin-left 0.3s;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-align: center;
}

div.portafolio:hover p.title {
  margin-left:25%;
  transition: 1s;
}

a#btn{
  font-size: 1rem;
  text-align: center;
  margin-top: 50%;
  margin-left: 10% auto;
  transition: margin-top 0.4s;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
}

div.portafolio:hover a#btn{
  margin-top: 23%;
  margin-bottom: 5%;
  transition: 1s;
}

a#btn:hover {
  background-color: rgb(90, 167, 211);
  color: rgb(244, 247, 248);
  border-color: #08282e;
  /* font-size: 1.2rem; */
}

/* contactame */
#contactame {
  height: 100vh;
  background-color: #9b9898;
}

.cont i {
  font-size: 3em;
  color: rgb(82, 195, 240);
  padding-bottom: 16px;
}

.contact i{
  font-size: 3em;
  display: inline;
  padding:7px;
  color: rgb(57, 140, 151);
  padding:2%;
}

/* texto vertical */
.vertical {
  display: inline;
  width: 1vh;
  position: absolute;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 18px;
  padding-left:30%;
  /* z-index: 9999; */
}


.cont-vertical {
  background-color: black;
  height: 100vh;
  text-align: center;
  color: rgb(82, 195, 240);
}



/* efectos de texto */
::selection {
  background: transparent;
}

h1.name {
  cursor: default;
  position: absolute;
  text-shadow: 2px 1px 2px rgb(148, 13, 13);
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  margin: auto;
  display: block;
  /* font-family: 'Montserrat Alternates', sans-serif !important; */
  font-family: 'Trocchi', serif;
  -webkit-animation: bounce .8s ease infinite alternate;
  
  /* font-family: 'Source Sans Pro', cursive; */
  /* 'Source Sans Pro', sans-serif; */

  font-size: 35px;
  /* font-weight: bold; */
  color: rgb(253, 253, 253);
  /* text-align: center; */
  line-height: 80px;
  text-shadow: 0 1px 0 rgb(250, 248, 248),
               0 2px 0 rgb(12, 1, 1),
               0 3px 0 rgb(22, 225, 240),
               0 4px 0 rgb(2, 2, 2),
               0 5px 0 rgb(253, 252, 252),
               0 6px 0 transparent,
               0 7px 0 rgb(248, 245, 245),
               0 8px 0 black,
               0 9px 0 rgb(255, 253, 253),
               0 10px 10px rgba(17, 17, 17, 0.671);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -30px;
    text-shadow: 0 1px 0 rgb(253, 252, 253),
                 0 2px 0 rgb(22, 22, 22),
                 0 3px 0 rgb(255, 255, 255),
                 0 4px 0 rgb(12, 12, 12),
                 0 5px 0 rgb(12, 12, 12),
                 0 6px 0 rgb(153, 152, 152),
                 0 7px 0 rgb(17, 16, 16),
                 0 8px 0 rgb(82, 81, 81),
                 0 9px 0 rgb(8, 8, 8),
                 0 30px 30px rgba(252, 250, 250, 0.925);
  }
}




@media (min-width:920px) { 
  h1.name {
    font-size: 50px;
  }
  
  .nav-link {
    padding: 0 10px;
  }
  .color-nav {
    font-size: 15px;
  }

  .nav-scroll{
    padding: 0px 32px;
  }

  .color-nav:hover {
    color: rgb(82, 195, 240);
    font-size: 16px;
    font-weight: bolder;
    transition: 2s;
  }

  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
    font-size: 17px;
    font-weight: bolder;
  }

  .hiden {
    display: inline-block;
  }

  h1.name {
    font-size: 75px;
    /* font-weight: 700 !important; */
    /* font-family: "Pacifico", cursive; */
  }

  .sub-text {
    font-size: 45px;
    bottom: 31%;
  }
  
  .vertical {
    font-size: 26px;
  }
}





















