* {
  letter-spacing: 0.1px;
}

main {
  font-family: 'Cabin', sans-serif !important;
}

.color {
  color: rgb(50, 54, 9);
  font-weight: bolder;
  font-size: 18px;
}

.start {
  color: rgb(38, 41, 7);
  font-size: 26px;
  font-weight: 900;
}
.white {
  color: white;
}

h1.title {
  padding-top: 5%;
  font-size: 22px;
  color: rgb(38, 41, 7);
}

.center {
  text-align: center !important;
}
/* header */
header {
  font-family: 'BioRhyme', serif;
  background:rgba(12, 12, 12, 0.411);
  text-align: center !important;
  width: 100% !important;
}

img.logo {
  width: 22px;
}

.color-nav {
  color: #fcfafb;
  font-size: 8px;
  text-align: center !important;
}

.color-nav:hover {
  color: rgb(206, 240, 128);
  font-size: 10px;
  font-weight: bold;
}

ul.nav {
  margin-left: 5%;
  text-align: center !important;
  padding: 7px auto;
  width: 90%
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
  background-color:transparent;
  font-size: 9px;
  font-weight: bolder;
  border-bottom: 1px solid rgb(255, 254, 254);
}

.nav-scroll{
  background-color: rgba(15, 17, 1, 0.952);
  transition: all 1s ease;
  text-align: center !important;
  padding: 0 auto;
}

.nav-item {
  text-align: center;
  width: 20%;
}

/* inicio */

.inicio {
  background-image: url(../assets/images/cafe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  z-index: 9999;
}

.text {
  position: absolute;
  font-weight: bold;
  bottom: 55%;
  left: 40%;
  z-index: 1;
  font-size: 1.5em;
  color: rgb(34, 34, 2);
} 


.sub-text {
  position: absolute;
  font-weight: 900;
  bottom: 40%;
  left: 16%;
  z-index: 1;
  font-size: 24px;
  color: rgb(211, 233, 16);
} 

/* Sobre mí */

.section-mi {
  height: 90vh;
  padding: 20px 7px !important;
}

.img-marin img {
  width: 70%;
  height: 116%;
  border-radius: 10%;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: -17%;
  transform: rotate(7deg);
  border: 7px solid rgb(239, 248, 204);
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
}

.biografy {
  font-size: 16px;
  text-align: justify;
  padding: 5px auto;
  margin-top: 10%;
  letter-spacing: 1px;
  color: rgb(31, 37, 37);
}

/* habilidades */

#habilidades {
  background-color: rgba(244, 252, 204, 0.952);
  padding: 10px 0 25px !important;
}

.card  {
  box-shadow: 2px 4px rgba(215, 241, 99, 0.863), 3px 4px rgb(250, 249, 249);
  border-radius: 10px;
  background-color: inherit;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.card-desktop {
  display: none;
}

.end {
  margin-left: 10%;
}

.end-2 {
  margin-left: 25%;
  margin-bottom: 9%;
}

.card-title {
  font-size: 13px;
  text-transform:uppercase;
  font-weight: bolder;
}

p.card-text{
  font-size: 11px;
}

.devicon {
  font-size: 1.2rem;
}

img.devicon {
  width: 1rem;
}

div.inline {
  display: flex;
}

p.text-ico {
  color: rgb(78, 112, 112);
  font-size: 10px;
  margin-right: 2px;
}

/* proyectos */

#proyectos {
  height: 100%;
  background-color: #ffffffb6;
  box-sizing: border-box !important;
}

/* .portafolio {
  padding: 2.5% auto ;
  box-sizing: border-box;
} */

.div-proyectos {
  margin-top:6%;
  margin-bottom: 5%;
}

.portafolio img {
  border-radius: 10px;
  height: 30vh;
  width: 80%;
  margin-left: 10%;
}

/* proyectos hover */
div.inv {
  position:absolute;
  overflow:hidden;
  width: 70%;
  height: 30vh;
  margin-left:10%;
  background: radial-gradient(rgba(39, 41, 38, 0.781), rgba(14, 17, 2, 0.945));
  opacity:0;
  transition: opacity 0.3s;
  text-align: center;
  border-radius: 10px;
}


div.portafolio:hover div.inv {
  opacity:1;
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

p.title {
  position: absolute;
  font-size: 1rem;
  margin-top: 2%;
  transition: margin-left 0.3s;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

div.portafolio:hover p.title {
  margin-left:23%;
  transition: 1s;
}

p.parrafo {
  position: absolute;
  font-size: 0.6rem;
  margin-top: 2%;
  transition: margin-left 0.3s;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
}

div.portafolio:hover p.parrafo {
  margin-top:18%;
  transition: 1s;
}

a#btn{
  font-size: 0.8rem;
  text-align: center;
  margin: 6% 10%;
  transition: margin-top 0.4s;
  color: rgb(35, 36, 5);
  font-weight: bolder;
  border: 1px solid rgb(68, 70, 9);
}

div.portafolio:hover a#btn{
  /* margin-top: 14%; */
  /* margin-bottom: 15%; */
  /* transition: 1s; */
}

a#btn:hover {
  background-color: rgba(55, 73, 11, 0.774);
  color: rgb(244, 247, 248);
  border-color: #303804;
  /* font-size: 1.2rem; */
}

/* contactame */
#contactame {
  background-color: #161515;
  color: white;
  height: 100vh;
}

.contacme {
 padding: 0 15px;
}

#contactame>.container>.row {
  display: flex;
  align-items: center !important;
  height: 80vh;
}
.cont i {
  font-size: 3.1em;
  color: rgba(214, 245, 76, 0.849);
  padding-bottom: 16px;
}

h6.white {
  font-size: 10px;
}



/* efectos de texto */
::selection {
  background: transparent;
}

h1.name {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  margin: auto;
  display: block;
  -webkit-animation: bounce .9s ease infinite alternate;
  font-size: 42px;
  font-weight: bold;
  color: rgba(249, 250, 246, 0.966);
  line-height: 60px;
  text-shadow: 0 1px 0 rgb(37, 43, 43);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -5px;
  }
}




@media (min-width:920px) { 

  * {
    letter-spacing: 0.9px;
  }

  .text {
    bottom: 60%;
    left: 42%;
    font-size: 2.5em;
  }
  
  .sub-text {
    bottom: 38%;
    left: 33%;
    z-index: 1;
    font-size: 42px;
  } 

  h1.name {
    font-size: 70px;
  }

  h1.title {
    padding-top: 5%;
    font-size: 34px;
    font-weight: 900;
  }
  
  /* .nav-link {
    padding: 0 10px;
  } */
  .color-nav {
    font-size: 15px;
  }

  header {
    padding: 18px 360px 10px;
  }

  /* .nav-scroll{
    padding-top: 0;
    padding-bottom: 0;
  } */

  .color-nav:hover {
    color: rgb(214, 250, 149);
    font-size: 16px;
    font-weight: bolder;
    transition: 2s;
  }

  img.logo{
    width: 55px;
    border: 1px solid rgb(229, 255, 0);
    border-radius: 100px;
    height: 57px;
    padding: 6px;
  }

  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
    font-size: 15px;
    font-weight: bolder;
  }

  .hiden {
    display: inline-block;
  }

  h1.name {
    font-size: 75px;
    /* font-weight: 700 !important; */
    /* font-family: "Pacifico", cursive; */
  }

  .sub-text {
    font-size: 45px;
    bottom: 31%;
  }
  
  .vertical {
    font-size: 26px;
  }

  /* habilidades
   */
   .card  {
    width: 47%;
    margin-left: 2%;
    margin-top: 2%;
  }

  .end {
    margin-left: 25%;
  }

  .devicon {
    font-size: 3rem;
  }

  .card-mobile {
    display: none;
  }

  .card-desktop {
    display:inline-flex;
  }
  .card-title {
    font-size: 19px;
  }

  p.card-text {
    font-size: 15px;
  }
  
  .end, .end-2 {
    margin-left: 0;
    margin-bottom: 5%;
  }

  img.devicon {
    width: 2.5rem;
  }
  /* sobre mi */
  .img-marin img {
    width: 75%;
    height: 60%;
    margin: 5% 0 0;
  }

  /* contactame */
  h6.white {
    font-size: 16px;
  }

  /* proyectos */
  .portafolio img {
    width: 80%;
    margin-left: auto;
  }

  p.parrafo {
    font-size: 0.7rem;
    margin-top: 5%;
    padding: 5px 15px;
  }
  
  p.title {
    font-size: 1.5rem;
    margin-top: 7%;
  }
  div.portafolio:hover p.title {
    margin-left:35%;
  }

  a#btn{
    font-size: 1.2rem;
    margin: 8% 12% 12%; 
    margin-left: 10%;
    border: 1.5px solid rgb(68, 70, 9);
  }

  div.inv {
    margin-left: 6px;
  }
}





















