* {
  font-family: 'Trocchi', serif;
  letter-spacing: 1px;
  /* padding: 0; */
}

.rigth {
  float: right;
}

.color {
  color: rgb(50, 54, 9);
  font-weight: bolder;
}

.start {
  color: rgb(38, 41, 7);
  font-size: 26px;
  font-weight: 900;
}
.white {
  color: white;
}

h1.title {
  padding-top: 5%;
  font-size: 22px;
  color: rgb(38, 41, 7);
}

.center {
  text-align: center;
}
/* header */
header {
  
  padding: 20px 5px 5px;
  background:rgba(12, 12, 12, 0.411);
}

.logo img {
  width: 40px;
  padding-bottom: 7px;
}

/* ul.nav {
  padding: 5px;
} */
.color-nav {
  color: #fcfafb;
  font-size: 9px;
  text-align: center;
}

.color-nav:hover {
  color: rgb(206, 240, 128);
  font-size: 10px;
  font-weight: bold;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
  color: rgb(154, 155, 152);
  background-color:transparent;
  font-size: 10px;
  font-weight: bolder;
  border-bottom: 2px solid rgb(192, 190, 190);
}

.nav-scroll{
  background-color: rgba(48, 47, 47, 0.952);
  transition: all 1s ease;
}

.nav-link {
  padding: 0px;
}

/* inicio */

.inicio {
  background-image: url(../assets/images/cafe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  z-index: 9999;
}

.text {
  position: absolute;
  font-weight: bold;
  bottom: 55%;
  left: 35%;
  z-index: 1;
  font-size: 1.5em;
  font-style: italic;
  color: rgb(25, 27, 4);
  font-family: 'Trocchi', serif;
} 


.sub-text {
  position: absolute;
  font-weight: 900;
  bottom: 38%;
  left: 16%;
  z-index: 1;
  font-size: 22px;
  color: rgb(231, 235, 238);
  font-style: italic;
  font-family: 'Trocchi', serif;
} 

/* Sobre mí */
#sobremi {
  /* background:linear-gradient(to right, rgb(10, 5, 5) , rgb(117, 208, 224)) !important; */
  
}

.section-mi {
  height: 100vh;
}

.img-marin img {
  width: 60%;
  height: 80%;
  border-radius: 10%;
  margin-left: 20%;
  transform: rotate(7deg);
  border: 7px solid rgb(239, 248, 204);
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
}

.biografy {
  font-size: 16px;
  text-align: justify;
  padding: 5px auto;
  letter-spacing: 1px;
  color: rgb(31, 37, 37);
}

/* habilidades */

#habilidades {
  background-color: rgba(237, 252, 201, 0.863);
  padding: 10px 0 25px !important;
}

.card  {
  box-shadow: 2px 4px rgba(215, 241, 99, 0.863), 3px 2px rgba(0,0,0,.21);
  border-radius: 10px;
  background-color: inherit;
  width: 47%;
  margin-left: 2%;
  margin-top: 2%;
}

.card-desktop {
  display: none;
}

.end {
  margin-left: 25%;
}

.card-title {
  font-size: 13px;
  text-transform:uppercase;
  font-weight: bolder;
}

p.card-text{
  font-size: 11px;
}

.devicon {
  font-size: 1.2rem;
}

img.devicon {
  width: 1rem;
}

div.inline {
  display: flex;
}

p.text-ico {
  color: rgb(78, 112, 112);
  font-size: 10px;
  margin-right: 2px;
}

/* proyectos */

#proyectos {
  height: 100%;
  background-color: #ffffffb6;
  box-sizing: border-box !important;
}

.portafolio {
  padding: 1.9% ;
  box-sizing: border-box;
}

.div-proyectos {
  padding: 3%;
}

.portafolio img {
  border-radius: 10px;
  height: 30vh;
  width: 90%;
}

/* proyectos hover */
div.inv {
  position:absolute;
  overflow:hidden;
  width: 80%;
  height: 32vh;
  background: radial-gradient(rgba(0, 0, 0, 0.56), rgba(70, 112, 124, 0.952));
  opacity:0;
  transition: opacity 0.3s;
  text-align: center;
  border-radius: 10px;
}


div.portafolio:hover div.inv {
  opacity:1;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

p.title {
  position: absolute;
  font-size: 1.6rem;
  margin-left: -9% auto;
  margin-top: 7%;
  transition: margin-left 0.3s;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-align: center;
}

div.portafolio:hover p.title {
  margin-left:25%;
  transition: 1s;
}

a#btn{
  font-size: 1rem;
  text-align: center;
  margin-top: 50%;
  margin-left: 10% auto;
  transition: margin-top 0.4s;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
}

div.portafolio:hover a#btn{
  margin-top: 23%;
  margin-bottom: 5%;
  transition: 1s;
}

a#btn:hover {
  background-color: rgb(90, 167, 211);
  color: rgb(244, 247, 248);
  border-color: #08282e;
  /* font-size: 1.2rem; */
}

/* contactame */
#contactame {
  background-color: #1d1c1c;
  color: white;
  height: 100vh;
}

.contacme {
 padding: 0 15px;
}

#contactame>.container>.row {
  display: flex;
  align-items: center !important;
  height: 80vh;
}
.cont i {
  font-size: 3em;
  color: rgb(198, 243, 139);
  padding-bottom: 16px;
}

h6.white {
  font-size: 10px;
}



/* efectos de texto */
::selection {
  background: transparent;
}

h1.name {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  margin: auto;
  display: block;
  font-family: 'Trocchi', serif;
  -webkit-animation: bounce .8s ease infinite alternate;
  font-size: 40px;
  font-weight: bold;
  color: rgba(204, 231, 108, 0.966);
  line-height: 60px;
  font-style: italic;
  text-shadow: 0 1px 0 rgb(37, 43, 43);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -5px;
  }
}




@media (min-width:920px) { 

  .text {
    bottom: 60%;
    left: 16%;
    font-size: 2.5em;
}
  
  .sub-text {
    bottom: 38%;
    left: 16%;
    z-index: 1;
    font-size: 40px;
  } 

  h1.name {
    font-size: 68px;
  }

  h1.title {
    padding-top: 5%;
    font-size: 34px;
    font-weight: 900;
  }
  
  .nav-link {
    padding: 0 10px;
  }
  .color-nav {
    font-size: 15px;
  }

  .nav-scroll{
    padding: 0px 32px;
  }

  .color-nav:hover {
    color: rgb(214, 250, 149);
    font-size: 16px;
    font-weight: bolder;
    transition: 2s;
  }

  .logo img {
    width: 80px;
    padding-bottom: 7px;
    padding-left: 15px;
  }

  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
    font-size: 17px;
    font-weight: bolder;
  }

  .hiden {
    display: inline-block;
  }

  h1.name {
    font-size: 75px;
    /* font-weight: 700 !important; */
    /* font-family: "Pacifico", cursive; */
  }

  .sub-text {
    font-size: 45px;
    bottom: 31%;
  }
  
  .vertical {
    font-size: 26px;
  }

  /* habilidades
   */
  .devicon {
    font-size: 3rem;
  }

  .card-mobile {
    display: none;
  }

  .card-desktop {
    display:inline-flex;
  }
  .card-title {
    font-size: 17px;
}
  
  .end {
    margin-left: 0;
  }

  img.devicon {
    width: 2.5rem;
  }
  /* sobre mi */
  .img-marin img {
    width: 65%;
    height: 55%;
    margin-left: 13%;
  }

  /* contactame */
  h6.white {
    font-size: 16px;
  }
}





















